<app-toolbar [loggedIn]="(auth$ | async).loggedIn" [routingProgress]="(auth$ | async).routingProgress" (homeClicked)="goHome()" (menuClicked)="sidenav.toggle()"></app-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="navOpen"
    (openedChange)="openedChange(navOpen)"
    position="end"
    mode="over"
    fxLayout="column"
    fxLayoutAlign="start center">
    <mat-nav-list *ngIf="!(auth$ | async).loggedIn">
      <a *ngFor="let link of navLinks.loggedOut"
         mat-list-item
         routerLink="{{link.url}}"
         (click)="sidenav.close()">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon matListIcon>{{link.icon}}</mat-icon>
          <h4>{{link.name}}</h4>
          <span fxFlexFill></span>
        </div>
      </a>
      <div fxFlexFill></div>
    </mat-nav-list>
    <mat-nav-list *ngIf="(auth$ | async).loggedIn">
      <a *ngFor="let link of navLinks.loggedIn"
         mat-list-item
         routerLink="{{link.url}}"
         (click)="sidenav.close()">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon matListIcon>{{link.icon}}</mat-icon>
          <h4>{{link.name}}</h4>
          <span fxFlexFill></span>
        </div>
      </a>
      <a mat-list-item (click)="logout()">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon matListIcon>menu</mat-icon>
          <h4>Logout</h4>
          <span fxFlexFill></span>
        </div>
      </a>
      <div fxFlexFill></div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

